{% extends 'base.html' %}

{% block css %}
    {% load staticfiles %}
    <title>Scans management - Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!--Bootstrap-table-->
    <link href="{% static 'vendor/bootstrap-table/css/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block sidebar %}
    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        {% autoescape off %}{{ sidebar }}{% endautoescape %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
{% endblock %}

{% block body %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Submit</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-table fa-fw"></i>
                            Submit Files Table
                        </div>
                        <div class="panel-body">
                            <div id="toolbar">
                                {% if perms.submit.delete_submitmodel %}
                                <button id="delete" class="btn btn-danger disabled">
                                <i class="fa fa-trash-o"></i> Delete
                                </button>
                                {% endif %}
                            </div>
                            <table id="submittable" data-toolbar="#toolbar" data-show-export="true"></table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% if perms.submit.add_submitmodel %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-upload fa-fw"></i>
                            Submit File
                        </div>
                        <div class="panel-body">
                            <form method="post" id="addSubmitPostForm" enctype="multipart/form-data">
                                {% csrf_token %}

                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#">McAfee FoundStone</a></li>
{#                                    <li><a href="#">Tenable</a></li>#}
                                </ul>
                                <div class="col-lg-12">
                                    <h3 class="page-header">Submit File</h3>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Scan Project *</label>
                                        {{ form.project }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Submit File *</label>
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" id="btnBrowse"><i class="fa fa-folder-open"></i></button>
                                            </span>
                                            <input type="text" class="form-control" id="fileUpload" readonly>
                                        </div>
                                        {{ form.fileSubmitted }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        {{ form.description }}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-default" id="cancelSubmitBtn">Cancel</button>
                                        <button type="submit" class="btn btn-primary" disabled id="saveSubmitBtn"><i class="fa fa-upload"></i> Upload</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                        <!-- /.panel-body -->
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% endif %}
            <!-- /.row -->
            <!-- Modal Warning on Deleting Services -->
            <div class="modal" id="warningOnDelete" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Warning</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"  id="msgOnDelete">
                            <p>Warning on Delete</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="confirmDelete" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="retInfoModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="retInfoTitle">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p id="retInfoBody"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block js %}
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'vendor/datatables-plugins/DataTables-checkboxes/js/dataTables.checkboxes.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

    <!-- Bootstrap-table JavaScript -->
    <script src="{% static 'vendor/bootstrap-table/js/bootstrap-table.min.js' %}"></script>

    <!-- Service JavaScript -->
    <script src="{% static 'pages/submit/submit.js' %}"></script>


{% endblock %}