{% extends "base.html" %}

{% block css %}
    {% load staticfiles %}
    <title>Scans management - Settings - Account Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css'%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!--Bootstrap-table-->
    <link href="{% static 'vendor/bootstrap-table/css/bootstrap-table.min.css' %}" rel="stylesheet" type="text/css">

    <!--Bootstrap-datepicker -->
    <link href="{% static 'vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block sidebar %}
    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        {% autoescape off %}{{ sidebar }}{% endautoescape %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
{% endblock %}

{% block body%}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Settings</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="active">Account Management</li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="divnav">
                        <ul class="nav nav-tabs">
                            <li><a href="/settings/myaccount"><i class="fa fa-user fa-fw"></i> My Account</a></li>
                            <li class="active"><a href="#"><i class="fa fa-users fa-fw"></i> Account Management</a></li>
                        </ul>
                    </div>
                </div>
               <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw" aria-hidden="true"></i>
                            Account Data Table
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" >
                            <div id="toolbar">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fa fa-gear fa-fw"></i>Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li id="add"><a href="#" data-toggle="modal" data-target="#addUserModal"><i class="fa fa-plus fa-fw"></i> Add Account</a></li>
                                        <li id="edit" class="disabled"><a href="#" ><i class="fa fa-pencil fa-fw"></i> Edit Account</a></li>
{#                                        <li id="delete" class="disabled"><a href="#" ><i class="fa fa-lock fa-fw"></i> Disable Account</a></li>#}
                                        <li id="reset" class="disabled"><a href="#" ><i class="fa fa-refresh fa-fw"></i> Reset Password</a></li>
                                    </ul>
                                </div>
                            </div>
                            <table id="datatable" data-toolbar="#toolbar"></table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->

            <!-- Modal Add User -->
            <div class="modal fade" id="addUserModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form enctype="multipart/form-data" method="post" id="addUserPostForm">

                            {% csrf_token %}
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Add New Account</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger alert-dismissable hidden" id="retMsgAdd">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Username *</label>
                                            {{ addUserForm.username}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            {{ addUserForm.first_name }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            {{ addUserForm.last_name }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Email</label>
                                            {{ addUserForm.email}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Password *</label>
                                            {{ addUserForm.password1}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Confirm Password *</label>
                                            {{ addUserForm.password2}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Permission</label>
                                            {{ addUserForm.permission }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Status</label>
                                            {{ addUserForm.isActive }}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="saveAddBtn" disabled>Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal Edit User -->
            <div class="modal fade" id="editUserModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form enctype="multipart/form-data" method="post" id="editUserPostForm">

                            {% csrf_token %}
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Edit Account</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger alert-dismissable hidden" id="retMsgEdit">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Username *</label>
                                            {{ editUserForm.username}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>First Name</label>
                                            {{ editUserForm.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            {{ editUserForm.last_name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Email</label>
                                            {{ editUserForm.email}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Permission</label>
                                            {{ editUserForm.permission }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Status</label>
                                            {{ editUserForm.isActive }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="saveEditBtn" disabled>Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal Reset Password -->
            <div class="modal fade" id="resetPasswordModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form enctype="multipart/form-data" method="post" id="resetPasswordPostForm">

                            {% csrf_token %}
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Reset Password</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger alert-dismissable hidden" id="retMsgReset">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Username *</label>
                                            <input type="text" class="form-control"  id="id_username_reset" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Password *</label>
                                            {{ resetPasswordForm.password1}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Confirm Password *</label>
                                            {{ resetPasswordForm.password2}}
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="saveResetBtn" disabled>Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal Warning on Deleting Services -->
            <div class="modal" id="warningOnDelete" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Warning</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"  id="msgOnDelete">
                            <p>Warning on Delete</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="confirmDelete" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal information -->
            <div class="modal" id="infoModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Information</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body"  id="msgInfo">
                            <p>Message information</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block js %}
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>

    <!-- Moment -->
    <script src="{% static 'vendor/moment/moment.js'%}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js'%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js'%}"></script>

    <!-- Bootstrap-table JavaScript -->
    <script src="{% static 'vendor/bootstrap-table/js/bootstrap-table.min.js'%}"></script>

    <!-- Bootstrap-datetimepicker JavaScript -->
    <script src="{% static 'vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'%}"></script>

    <!-- Scan JavaScript -->
    <script src="{% static 'pages/settings/settings_accountmanagement.js' %}"></script>

{% endblock %}


