{% extends "base.html" %}

{% block css %}
    {% load staticfiles %}
    <title>Scans management - Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css'%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css'%}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'vendor/morrisjs/morris.css'%}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{% static 'vendor/datatables-plugins/dataTables.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href=" {% static 'vendor/datatables-responsive/dataTables.responsive.css'%}" rel="stylesheet">

    <!--Datatable-checkboxes-->
    <link href="{% static  'vendor/datatables-plugins/DataTables-checkboxes/css/dataTables.checkboxes.css'%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block sidebar %}
    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        {% autoescape off %}{{ sidebar }}{% endautoescape %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
{% endblock %}

{% block body%}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Services</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
               <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Services Data Table
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#addServiceModal"><i class="fa fa-plus"></i> Add New Service</button>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">

                            <table width="100%" id="dataTablesService" class="table table-striped table-bordered table-hover" >
                                <thead>
                                    <tr>
                                        <th style="text-align:center"></th>
                                        <th>Service Name</th>
                                        <th>Network Port(s)</th>
                                        <th>Descriptions</th>
                                        <th style="text-align:center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for service in ServiceData %}
                                    <tr>
                                        <td align="center" class="col-sm-1"></td>
                                        <td>{{ service.name }}</td>
                                        <td>{{ service.port }}</td>
                                        <td>{{ service.description }}</td>
                                        <td align="center" class="col-sm-2">
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-default"><i class="fa fa-pencil"></i> Edit</button>
                                                <button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->

            <!-- Modal AddService -->
            <div class="modal fade" id="addServiceModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="post" id="AddServicePostForm">
                            {% csrf_token %}
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Add New Service</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger alert-dismissable hidden" id="AfterPostMess">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <label>Service Name</label>
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label>Port</label>
                                            {{ form.port }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label>Descriptions</label>
                                            {{ form.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
{% endblock %}

{% block js %}
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js'%}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js'%}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static  'vendor/datatables/js/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'vendor/datatables-plugins/DataTables-checkboxes/js/dataTables.checkboxes.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js'%}"></script>

    <script>
        $(document).ready(function() {
            $('#dataTablesService').dataTable({
                responsiveDataTable : true,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "columnDefs": [
                    {orderable: false, targets: [0,3] },
                    {
                    targets: 0,
                    checkboxes: {
                        seletRow: true
                    }
                }
                ],
                'select': {
                    'style': 'multi'
                },
                order: [[ 1, 'asc' ]]
            } );
        } );
        $('#AddServicePostForm').submit(function(e){
            $.post('./api/addservice', $(this).serialize(), function(data){
                var notification = $('#AfterPostMess');
                var closebtn = '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>';
                notification.removeClass('hidden');
                if(data.notification != null){
                    notification.html(data.notification);
                }
                else{
                    notification.html('New service is added.');
                    notification.removeClass('alert-danger');
                    notification.addClass('alert-info');
                }
                notification.append(closebtn);
            });
            e.preventDefault();
        });
        $('#addServiceModal').on('hidden.bs.modal', function () {
            location.reload();
        });
    </script>
{% endblock %}


